:host {
  display: flex;
  justify-content: center;
}

.scene {
  height: 240px;
  width: 100px;
  perspective: 1000px;
  border: 1px solid white;
}

.crystal {
  width: 100%;
  height: 100%;
  position: relative;
  color: transparent;
  transition: transform 0.5s linear;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -25px);
}

.dev-rotate {
  animation: dev-spin 10s linear infinite;
}

.crystal__hemisphere {
  height: 120px;
  width: 100px;
  position: relative;
  transform-style: preserve-3d;
}

.crystal__face {
  position: absolute;
  opacity: 0.5;
  border-style: solid;
  border-width: 0 50px 130px 50px;
  transform-origin: 50% 0;
}

.crystal__top {
  transform: rotate3d(0, 0, 0, 0deg);
}

.crystal__face-top-front {
  transform: rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent blue transparent;
}

.crystal__face-top-right {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent red transparent;
}

.crystal__face-top-back {
  transform: rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent green transparent;
}

.crystal__face-top-left {
  transform: rotate3d(0, 1, 0, 270deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent yellow transparent;
}


.crystal__bottom {
  transform: rotate3d(1, 0, 0, 180deg);
}

.crystal__face-bottom-front {
  transform: rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent red transparent;
}

.crystal__face-bottom-right {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent blue transparent;
}

.crystal__face-bottom-back {
  transform: rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent green transparent;
}

.crystal__face-bottom-left {
  transform: rotate3d(0, 1, 0, 270deg) rotate3d(1, 0, 0, 22.62deg);
  border-color: transparent transparent yellow transparent;
}

@keyframes dev-spin {
  0% {
    transform: translate3d(0, 0, -25px);
  }

  100% {
    transform: translate3d(0, 0, -25px) rotate3d(0, 1, 0, 360deg);
  }
}