:host {
  justify-self: center;
}

.scene {
  height: 400px;
  width: 400px;
  perspective: 1000px;
  border: 1px solid white;
}

.scene-tilt {
  transform: rotate3d(0, 0, 1, 5deg);
}

.ring-container {
  border: 1px solid orange;
  width: 100%;
  height: 100%;
  color: transparent;
  transform-style: preserve-3d;
  animation: ring-rotate 20s linear infinite;
}

@keyframes ring-rotate {
  0% {
    transform: translate3d(0, 0, -100px) rotate3d(0.1, 1, 0, 0deg);
  }

  100% {
    transform: translate3d(0, 0, -100px) rotate3d(-0.1, -1, 0, 360deg);
  }
}

.class-ring {
  position: relative;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotate3d(1, 0, 0, 90deg);
}

.node-slot {
  position: absolute;
  animation: offset-ring-rotate 20s linear infinite;
}

@keyframes offset-ring-rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate3d(-1, 0, 0, 90deg) rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate3d(-1, 0, 0, 90deg) rotate3d(0, 1, 0, 360deg);
  }
}

.node-1 {
  top: 0;
  left: 50%;
}

.node-2 {
  top: 50%;
  left: 100%;
}

.node-3 {
  top: 100%;
  left: 50%;
}

.node-4 {
  top: 50%;
  left: 0;
}
