:host {
  justify-self: center;
}

.scene {
  height: 400px;
  width: 400px;
  perspective: 1000px;
  border: 1px solid white;
}

.ring-container {
  border: 1px solid orange;
  width: 100%;
  height: 100%;
  color: transparent;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}

.dev-ring-tilt {
  transform: translateZ(-100px) rotateX(15deg);
}

.class-ring {
  position: relative;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
}

.node-slot {
  position: absolute;
  transform: translate(-50%, -50%) rotateX(-90deg);
}

.node-1 {
  top: 0;
  left: 50%;
}

.node-2 {
  top: 50%;
  left: 100%;
}

.node-3 {
  top: 100%;
  left: 50%;
}

.node-4 {
  top: 50%;
  left: 0;
}
